<html>
    <head>
        <title>IVF : Centre List </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/app.css" />
    </head>
<body>
    
    <nav class="navbar" id="header"></nav>

    <!-- <div class="container">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#accountData">Account Data</a></li>
          <li><a data-toggle="tab" href="#masterData">Edit Master Data</a></li>
          <li><a data-toggle="tab" href="#engagement">Marketing Engagement</a></li>
        </ul>
      
        <div class="tab-content">

          <div id="accountData" class="tab-pane fade in active">
            <ul class="list-group">
                <li class="list-group-item"><a href="/hospitals">Add Potential</a></li>
                <li class="list-group-item"><a href="/hospitals">Add Business</a></li>
                <li class="list-group-item"><a href="/hospitals">Rate Contract Status</a></li>
                <li class="list-group-item"><a href="/hospitals">Add Competition Data</a></li>
                <li class="list-group-item"><a href="/hospitals">Track Performance</a></li>
            </ul>
          </div>

          <div id="masterData" class="tab-pane fade">
            <ul class="list-group">
                <li class="list-group-item"><a href="/customers">Customer Names</a></li>
                <li class="list-group-item"><a href="/customers">Speciality</a></li>
                <li class="list-group-item"><a href="/customers">Chain Status</a></li>
            </ul>
          </div>

          <div id="engagement" class="tab-pane fade">
            <ul class="list-group">
                <li class="list-group-item"><a href="#">BSVwithU Start</a></li>
                <li class="list-group-item"><a href="#">No of Leads</a></li>
                <li class="list-group-item"><a href="#">Valid Leads</a></li>
                <li class="list-group-item"><a href="#">Approved Count</a></li>
                <li class="list-group-item"><a href="#">Disbursed Count</a></li>
                <li class="list-group-item"><a href="#">Total Loan Amount Disbursed</a></li>
                <li class="list-group-item"><a href="#">Investment</a></li>
            </ul>
          </div>
        </div>
      </div> -->
          

      <main class="container">
         <h1 class="text-center">Centre List</h1>

         

         <!-- <form class="hide">
            <div class="hospital-search-wrapper">
                <div class="form-group">
                    <select class="form-control" id="centerCombo">
                        <option>Centre Wise</option>
                        <option>Mumbai</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="chainCombo">
                        <option>Chain Wise</option>
                        <option>Mumbai</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="drCombo">
                        <option>Doctor Wise</option>
                        <option>Mumbai</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="specialityCombo">
                        <option>Speciality Wise</option>
                        <option>Mumbai</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="zbmCombo">
                        <option>ZBM Wise</option>
                        <option>Mumbai</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="rbmCombo">
                        <option>RBM Wise</option>
                        <option>Mumbai</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="kamCombo">
                        <option>KAM Wise</option>
                        <option>Mumbai</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="potentialCombo">
                        <option>Potential Wise</option>
                        <option>Mumbai</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="businessProdCombo">
                        <option>Business Product Wise</option>
                        <option>Mumbai</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="periodCombo">
                        <option>Period Wise</option>
                        <option>Mumbai</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="marketingInniateCombo">
                        <option>Marketing Innitiatives Wise</option>
                        <option>Mumbai</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="search" placeholder="Search" />
                </div>
             </div>
    
             <div class="search-btn-wrapper">
                <button type="reset" class="btn btn-success">Reset</button>
                <button type="submit" class="btn btn-success">Search</button>
             </div>
         </form> -->

         <table class="table table-bordered table-bg">
            <thead>
              <tr>
                <th>Centre Name</th>
                <th>Name of Doctor</th>
                <th>Add Potential</th>
                <th>Add Business</th>
                <th>Competition</th>
                <th>Rate Contract Status</th>
                <th>View Profile</th>
              </tr>
            </thead>
            <tbody id="centerList">
                
            </tbody>
          </table>
      </main>

      <script src="../../js/jquery.min.js"></script>
      <script src="../../js/common.js"></script>
        <script src="../../js/axios.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script src="../../js/admin.js"></script>
        <script src="../../js/hospitals.js"></script>
        <script>
            $(function() {
                getMyHospitalList();
            });
            
            </script>
</body>
</html>