<html>
    <head>
        <title>IVF : Potential List </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/app.css" />
    </head>
<body>
    
  <nav class="navbar" id="header"></nav>

    <main class="container-fluid">
        <h1 class="text-center">Potential List</h1>
        <div class="text-right"><a href="../../account-mapping" class="btn btn-success">New Sku</a></div>
        <table class="table table-bordered table-bg">
            <thead>
                <tr>
                    <th>Total no. of IUI cycles</th>
                    <th>Total no. of IVF cycles</th>
                    <th>Fresh pick-ups</th>
                    <th>Frozen Transfers</th>
                    <th>Self (Patient) cycles</th>
                    <th>Donor cycles</th>
                    <th>Agonist cycles</th>
                    <th>Antagonist cycles</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="potentialData">
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td><a href="/account-mapping/potential/1" class="btn btn-default">View Detail</a></td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td><a href="/account-mapping/potential/1" class="btn btn-default">View Detail</a></td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td><a href="/account-mapping/potential/1" class="btn btn-default">View Detail</a></td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td><a href="/account-mapping/potential/1" class="btn btn-default">View Detail</a></td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td><a href="/account-mapping/potential/1" class="btn btn-default">View Detail</a></td>
                </tr>
            </tbody>
        </table>
    </main>

      <script src="../../js/jquery.min.js"></script>
      <script src="../../js/common.js"></script>
        <script src="../../js/axios.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script src="../../js/admin.js"></script>
        <script>
          $(function() {
              
          });
          
          </script>

</body>
</html>