<html>

<head>
    <title>IVF : Potential List for Approval </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body>

    <nav class="navbar" id="header"></nav>

    <main class="container-fluid">
        <h1 class="text-center">Rate Contract List</h1>

        <!-- <div id="potential_chart1"></div>
        <div id="potential_chart1_bar" hidden>
          <div id="potential_chartIVF"></div>
        </div>
        <div id="potential_chart2"></div>
        <div id="potential_chart3"></div> -->

        <div class="text-right">
          <a href="javascript:void(0);" onclick="goBack()" class="btn btn-success">Go Back</a>
        </div>

        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#chart">Data in Chart Formate</a></li>
          <li><a data-toggle="tab" href="#tabular">Data in Tabular Formate</a></li>
      </ul>

      <div class="tab-content">
        <div id="chart" class="tab-pane fade in active">
          <table>
            <tr>
              <td>
                <div id="business_chart"></div>
              </td>
              <td>
                <div id="business_chart_FOLIGRAF"></div>
              </td>
              <td>
                <div id="business_chart_HUMOG"></div>
              </td>
            </tr>
            <tr>
              <td>
                <div id="business_chart_ASPORELIX"></div>
              </td>
              <td>
                <div id="business_chart_R-HUCOG"></div>
              </td>
              <td>
                <div id="business_chart_FOLICULIN"></div>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <div id="business_chart_MIDYDROGESTERONE"></div>
              </td>
            </tr>
        </table>
        </div>
        <div id="tabular" class="tab-pane fade">
          <div class="text-right"><a href="javascript:void(0);" onclick="approveListingBusiness();return false;"class="btn btn-success">Approve Selected</a></div>
          <table class="table table-bordered table-bg">
            <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Centre Name</th>
                    <th>Doctor Name</th>
                    <th>Rate Contract</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="centerList">
            </tbody>
        </table>
        </div>
    </div>



       
        
    </main>

    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../js/axios.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/admin.js"></script>
    <script src="../../js/account-mapping.js"></script>
    <script src="../../js/googlechart.js"></script>
    <script type="text/javascript" src="../../js/businessReport.js"></script>

    <script>
        $(function () {
            google.charts.load('current', { packages: ['corechart', 'bar'] });
            getKamDetails();
            setupRateContractPage();
            $('#selectAll').click(function (e) {
                var table = $(e.target).closest('table');
                $('td input:checkbox', table).prop('checked', this.checked);
            });
        });

    </script>

</body>

</html>