<html>

<head>
  <title>IVF : Add Competition </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/app.css" />
</head>

<body>

  <nav class="navbar" id="header"></nav>

  <main class="container">
    <h1 class="text-center">Add Competition</h1>
    <div class="text-right"><a href="./hospitals" class="btn btn-success">Go Back</a></div>

    <form>
      <div class="form-wrapper">
          <div class="form-group yearComboBox">
            <select class="form-control" id="sel1">
              <option>2022-2023</option>
              <option>2023-2024</option>
              <option>2024-2025</option>
              <option>2025-2026</option>
            </select>
          </div>
          <div class="form-section">
            <table class="table table-bordered table-bg">
              <thead>
                <tr>
                  <th>Brand</th>
                  <th>Competition Mapping</th>
                  <th>Jan</th>
                  <th>Feb</th>
                  <th>Mar</th>
                  <th>Apr</th>
                  <th>May</th>
                  <th>Jun</th>
                  <th>Jul</th>
                  <th>Aug</th>
                  <th>Sep</th>
                  <th>Oct</th>
                  <th>Nov</th>
                  <th>Dec</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Foligraf</td>
                  <td>
                    <span>MRK -Gonal-F (vials/PFS/ MD)</span>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Foligraf</td>
                  <td>
                    <span>MRK -Gonal-F Pens</span>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Foligraf</td>
                  <td>
                    <span>INT -Folisurge (vials/PFS/ MD)</span>
                  </td>  
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Foligraf</td>
                  <td>
                    <span>INT -Folisurge Pens</span>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Foligraf</td>
                  <td>
                    <span>OTH -Other r-FSH (vials/PFS/ MD)</span>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
  
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="two-btn-wrapper">
              <button type="reset" class="btn btn-default btn-grad">Reset</button>
              <button type="submit" class="btn btn-default btn-grad" onclick="validateMe();return false;">Save</button>
            </div>
          </div>
        </div>
  
      </div>

      <div class="form-wrapper">
        <div class="form-group yearComboBox">
          <select class="form-control" id="sel1">
            <option>2022-2023</option>
            <option>2023-2024</option>
            <option>2024-2025</option>
            <option>2025-2026</option>
          </select>
        </div>
        <div class="form-section">
          <table class="table table-bordered table-bg">
            <thead>
              <tr>
                <th>Brand</th>
                <th>Competition Mapping</th>
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dec</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>HUMOG</td>
                <td>
                  <span>INT -Menotas XP (liq. MD / pfs)</span>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
              </tr>
              <tr>
                <td>HUMOG</td>
                <td>
                  <span>INT -Menotas / Menotas HP (lyo. vials)</span>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
              </tr>
              <tr>
                <td>HUMOG</td>
                <td>
                  <span>FER -Menopur</span>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
              </tr>
              <tr>
                <td>HUMOG</td>
                <td>
                  <span>BSV -Diva HMG</span>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
              </tr>
              <tr>
                <td>HUMOG</td>
                <td>
                  <span>EMC -Materna (vials/PFS / MD)</span>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
              </tr>
              <tr>
                <td>HUMOG</td>
                <td>
                  <span>Other HMG</span>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="two-btn-wrapper">
            <button type="reset" class="btn btn-default btn-grad">Reset</button>
            <button type="submit" class="btn btn-default btn-grad" onclick="validateMe();return false;">Save</button>
          </div>
        </div>
      </div>

      </div>

      <div class="form-wrapper">
        <div class="form-group yearComboBox">
          <select class="form-control" id="sel1">
            <option>2022-2023</option>
            <option>2023-2024</option>
            <option>2024-2025</option>
            <option>2025-2026</option>
          </select>
        </div>
        <div class="form-section">
          <table class="table table-bordered table-bg">
            <thead>
              <tr>
                <th>Brand</th>
                <th>Competition Mapping</th>
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dec</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ASPORELIX</td>
                <td>
                  <span>MCK -Cetrotide</span>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
              </tr>
              <tr>
                <td>ASPORELIX</td>
                <td>
                  <span>GUF -Cetrocare</span>
                </td>
                
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
              </tr>
              <tr>
                <td>ASPORELIX</td>
                <td>
                  <span>INT -Cetrolix</span>
                </td>
            
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required=""  />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="two-btn-wrapper">
            <button type="reset" class="btn btn-default btn-grad">Reset</button>
            <button type="submit" class="btn btn-default btn-grad" onclick="validateMe();return false;">Save</button>
          </div>
        </div>
      </div>

      </div>

      <div class="form-wrapper">
        <div class="form-group yearComboBox">
          <select class="form-control" id="sel1">
            <option>2022-2023</option>
            <option>2023-2024</option>
            <option>2024-2025</option>
            <option>2025-2026</option>
          </select>
        </div>
        <div class="form-section">
          <table class="table table-bordered table-bg">
            <thead>
              <tr>
                <th>Brand</th>
                <th>Competition Mapping</th>
             
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dec</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>R-HUCOG</td>
                <td>
                  <span>MRK -Ovitrille</span>
                </td>
           
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="two-btn-wrapper">
            <button type="reset" class="btn btn-default btn-grad">Reset</button>
            <button type="submit" class="btn btn-default btn-grad" onclick="validateMe();return false;">Save</button>
          </div>
        </div>
      </div>

      </div>

      <div class="form-wrapper">
        <div class="form-group yearComboBox">
          <select class="form-control" id="sel1">
            <option>2022-2023</option>
            <option>2023-2024</option>
            <option>2024-2025</option>
            <option>2025-2026</option>
          </select>
        </div>
        <div class="form-section">
          <table class="table table-bordered table-bg">
            <thead>
              <tr>
                <th>Brand</th>
                <th>Competition Mapping</th>
               
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dec</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>AGOTRIG</td>
                <td>
                  <span>FER -Decapeptyl</span>
                </td>
               
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="two-btn-wrapper">
            <button type="reset" class="btn btn-default btn-grad">Reset</button>
            <button type="submit" class="btn btn-default btn-grad" onclick="validateMe();return false;">Save</button>
          </div>
        </div>
      </div>

      </div>

      <div class="form-wrapper">
        <div class="form-group yearComboBox">
          <select class="form-control" id="sel1">
            <option>2022-2023</option>
            <option>2023-2024</option>
            <option>2024-2025</option>
            <option>2025-2026</option>
          </select>
        </div>
        <div class="form-section">
          <table class="table table-bordered table-bg">
            <thead>
              <tr>
                <th>Brand</th>
                <th>Competition Mapping</th>
                
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dec</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>MIDYDROGESTERONE</td>
                <td>
                  <span>ABB -Duphaston</span>
                </td>
               
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="" name="" placeholder="100" required="" disabled />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="two-btn-wrapper">
            <button type="reset" class="btn btn-default btn-grad">Reset</button>
            <button type="submit" class="btn btn-default btn-grad" onclick="validateMe();return false;">Save</button>
          </div>
        </div>
      </div>

      </div>

    </form>

  

  </main>

  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/common.js"></script>
  <script src="../../js/axios.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
  <script src="../../js/admin.js"></script>
  <script src="../../js/competition.js"></script>

</body>

</html>