<html>

<head>
  <title>IVF : Add Competition </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/app.css" />
</head>

<body>

  <nav class="navbar" id="header"></nav>

  <main class="container-fluid">
    <h1 class="text-center">Add Competition</h1>
    <div class="text-right">
      <!-- <a href="./hospitals" class="btn btn-success">Go Back</a> -->
      <a href="javascript:void(0);" onclick="goBack()" class="btn btn-success">Go Back</a>
    </div>

    <form>
      <div class="form-wrapper">
        <div class="form-group yearComboBox">
          <select class="form-control" id="cmbYear" onchange="getSkuDetails()">
            <option value='2022-2023'>2022-2023</option>
            <option value='2023-2024'>2023-2024</option>
            <option value='2024-2025'>2024-2025</option>
            <option value='2025-2026'>2025-2026</option>
          </select>
        </div>
        <div class="form-section">
          <div class="table-responsive">
            <table class="table table-bordered table-bg">
              <thead>
                <tr>
                  <th colspan="2"></th>
                  <th style="text-align:center; ;" colspan="3">Quarter 1</th>
                  <th style="text-align:center;" colspan="3">Quarter 2</th>
                  <th style="text-align:center;" colspan="3">Quarter 2</th>
                  <th style="text-align:center;" colspan="3">Quarter 4</th>
                </tr>
                <tr>
                  <th width="5%" style="text-decoration: strong;">Brand</th>
                  <th width="10%" nowrap>Competition Mapping</th>
                  <th style="text-align:center;" width="10%">Apr</th>
                  <th style="text-align:center;" width="10%">May</th>
                  <th style="text-align:center;" width="10%">Jun</th>
                  <th style="text-align:center;" width="10%">Jul</th>
                  <th style="text-align:center;" width="10%">Aug</th>
                  <th style="text-align:center;" width="10%">Sep</th>
                  <th style="text-align:center;" width="10%">Oct</th>
                  <th style="text-align:center;" width="10%">Nov</th>
                  <th style="text-align:center;" width="10%">Dec</th>
                  <th style="text-align:center;" width="10%">Jan</th>
                  <th style="text-align:center;" width="10%">Feb</th>
                  <th style="text-align:center;" width="10%">Mar</th>
                </tr>
              </thead>
              <tbody id="competitorDataTable"></tbody>
            </table>
          </div>
          

        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper hideApproveChk">
              <input type="checkbox" value="on" id="chkApproved" name="chkApproved" onclick="enableApproveButton()" />
              &nbsp;
              <label for="lblChkApproved">Check to Approved the Potential</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="two-btn-wrapper">
              <button type="reset" class="btn btn-default btn-grad" id="resetBtn">Reset</button>
              <button type="button" class="btn btn-default btn-grad" onclick="validateMe();return false;" id="saveBtn">Submit</button>
              <button class="btn btn-default btn-grad" id="btnApprove" disabled="true" onclick="approveMe();return false;">Approve</button>
            </div>
          </div>
        </div>

      </div>


    </form>



  </main>

  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/common.js"></script>
  <script src="../../js/axios.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
  <script src="../../js/admin.js"></script>
  <script src="../../js/competition.js"></script>
  <script>
    $(function () {
      // console.log( "ready!" );
      setupPage();
      showPrevMonthInput();
    });
  </script>
</body>

</html>