<html>
    <head>
        <title>IVF : View Performace </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/app.css" />
    </head>
<body>
    
  <nav class="navbar" id="header"></nav>

      <main class="container">
         <h1 class="text-center">View Performace</h1>
         <div class="text-right"><a href="../hospitals" class="btn btn-success">Go Back</a></div>

         <div class="custom-table form">
          <div class="zone-profile">
            <div class="zone-profile">
              <div class="zone-head">
                <div class="text-center zone-manager">
                  <span>Centre Name</span>
                  <div><b id="centreName">GANGARAM</b></div>
                </div>
                <div class="text-center rbm-wrapper">
                  <div><span>City Name</span> </div>
                  <ul class="rbmm-list">
                    <li><b id="drName">Maharashtra</b></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="performance-main-wrapper">
            <div class="form-wrapper performance-wrapper">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <h3>Customer Master Details</h3>
                  <div class="performance-heading">
                    <div>
                      <strong>Account Name</strong> : Manish@gmail.com
                    </div>
                    <div>
                      <strong>Account Type</strong> : National
                    </div>
                  </div>
                  

                  <table class="table table-bordered table-bg">
                    <thead>
                      <tr>
                        <th>Centre Name</th>
                        <th>Dr Name</th>
                        <th>Speciality</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>MAX PANCHSHEEL</td>
                        <td>TANYA BUCKSHEE ROHATGI</td>
                        <td>IVF Dr Core</td>
                      </tr>
                      <tr>
                        <td>MAX PANCHSHEEL</td>
                        <td>TANYA BUCKSHEE ROHATGI</td>
                        <td>IVF Dr Core</td>
                      </tr>
                      <tr>
                        <td>MAX PANCHSHEEL</td>
                        <td>TANYA BUCKSHEE ROHATGI</td>
                        <td>IVF Dr Core</td>
                      </tr>
                      <tr>
                        <td>MAX PANCHSHEEL</td>
                        <td>TANYA BUCKSHEE ROHATGI</td>
                        <td>IVF Dr Core</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>

          <div class="form-wrapper performance-wrapper">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Overall Potential</h3>
                
                <table class="table table-bordered table-bg">
                  <thead>
                    <tr>
                      <th>Total no. of IUI cycles</th>
                      <th>Total no. of IVF cycles</th>
                      <th>Fresh pick-ups</th>
                      <th>Frozen Transfers</th>
                      <th>Self (Patient) cycles</th>
                      <th>Donor cycles</th>
                      <th>Agonist cycles</th>
                      <th>Antagonist cycles</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>10</td>
                      <td>9</td>
                      <td>7</td>
                      <td>300</td>
                      <td>400</td>
                      <td>500</td>
                      <td>7</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>10</td>
                      <td>9</td>
                      <td>7</td>
                      <td>300</td>
                      <td>400</td>
                      <td>500</td>
                      <td>7</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>10</td>
                      <td>9</td>
                      <td>7</td>
                      <td>300</td>
                      <td>400</td>
                      <td>500</td>
                      <td>7</td>
                      <td>0</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="form-wrapper performance-wrapper">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>SKU Discount</h3>
                
                <table class="table table-bordered table-bg">
                  <thead>
                    <tr>
                      <th class="border-b-0">
                        Brand Group 1	
                      </th>
                      <th class="border-b-0">
                        Brand Group 2		
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="p-0">
                        <table class="table table-bordered table-bg table-m-t-0">
                          <thead>
                            <tr>
                              <th>SKU1</th>
                              <th>SKU2</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>10</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td>10</td>
                              <td>80</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td class="p-0">
                        <table class="table table-bordered table-bg table-m-t-0">
                          <thead>
                            <tr>
                              <th>SKU3</th>
                              <th>SKU4</th>
                              <th>SKU5</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>10</td>
                              <td>80</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td>10</td>
                              <td>80</td>
                              <td>80</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>

          <div class="form-wrapper performance-wrapper">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Sales Quantity (Units)</h3>
                
                <table class="table table-bordered table-bg">
                  <thead>
                    <tr>
                      <th class="border-b-0">
                        Brand Group 1	
                      </th>
                      <th class="border-b-0">
                        Brand Group 2		
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="p-0">
                        <table class="table table-bordered table-bg table-m-t-0">
                          <thead>
                            <tr>
                              <th>SKU1</th>
                              <th>SKU2</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>10</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td>10</td>
                              <td>80</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td class="p-0">
                        <table class="table table-bordered table-bg table-m-t-0">
                          <thead>
                            <tr>
                              <th>SKU3</th>
                              <th>SKU4</th>
                              <th>SKU5</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>10</td>
                              <td>80</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td>10</td>
                              <td>80</td>
                              <td>80</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>

          <div class="form-wrapper performance-wrapper">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>BSV Value (in INR '000)</h3>
                
                <table class="table table-bordered table-bg">
                  <thead>
                    <tr>
                      <th class="border-b-0">
                        Brand Group 1	
                      </th>
                      <th class="border-b-0">
                        Brand Group 2		
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="p-0">
                        <table class="table table-bordered table-bg table-m-t-0">
                          <thead>
                            <tr>
                              <th>SKU1</th>
                              <th>SKU2</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>10</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td>10</td>
                              <td>80</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td class="p-0">
                        <table class="table table-bordered table-bg table-m-t-0">
                          <thead>
                            <tr>
                              <th>SKU3</th>
                              <th>SKU4</th>
                              <th>SKU5</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>10</td>
                              <td>80</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td>10</td>
                              <td>80</td>
                              <td>80</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>

          <div class="form-wrapper performance-wrapper">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Sales Value (input in actual, presentation in INR '000)</h3>
                
                <table class="table table-bordered table-bg">
                  <thead>
                    <tr>
                      <th class="border-b-0">
                        Brand Group 1	
                      </th>
                      <th class="border-b-0">
                        Brand Group 2		
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="p-0">
                        <table class="table table-bordered table-bg table-m-t-0">
                          <thead>
                            <tr>
                              <th>Brand group 1 Competitor 1</th>
                              <th>Brand group 1 Competitor 2</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Name</td>
                              <td>Name</td>
                            </tr>
                            <tr>
                              <td>Name</td>
                              <td>Name</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td class="p-0">
                        <table class="table table-bordered table-bg table-m-t-0">
                          <thead>
                            <tr>
                              <th>Brand group 2 Competitor 1</th>
                              <th>Brand group 2 Competitor 2</th>
                              <th>Brand group 2 Competitor 3</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Name</td>
                              <td>Name</td>
                              <td>Name</td>
                            </tr>
                            <tr>
                              <td>Name</td>
                              <td>Name</td>
                              <td>Name</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
          

      </main>

      <script src="../../js/jquery.min.js"></script>
      <script src="../../js/common.js"></script>
        <script src="../../js/axios.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script src="../../js/admin.js"></script>
        <script src="../../js/performance.js"></script>
        <script>
          $(function() {
            pageSetUp();
          });
          
          </script>

</body>
</html>