<html>
    <head>
        <title>IVF : Add Business </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/app.css" />
    </head>
<body>
    
  <nav class="navbar" id="header"></nav>

      <main class="container">
         <h1 class="text-center">Add Business</h1>
         <div class="text-right"><a href="./hospitals" class="btn btn-success">Go Back</a></div>

         <div class="form-wrapper">
          <form>

            <div class="panel-group" id="accordion">
              
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#Foligraf">Foligraf</a>
                  </h4>
                </div>
                <div id="Foligraf" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="form-section"> 
                      <table class="table table-bordered table-bg">
                        <thead>
                          <tr>
                            <th>SKU</th>
                            <th>ASP</th>
                            <th>Rate Contract</th>
                            <th>Unit Sold</th>
                            <th>Business</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                  <span>Foligraf 150 iu</span>
                                </td>
                                <td>
                                  <div class="form-group">
                                    <input type="text" class="form-control disabled" id="" name="" placeholder="100" required="">
                                  </div>
                                </td>
                                <td>
                                  <div class="form-group">
                                    <input type="text" class="form-control disabled business-rate" id="" name="" placeholder="1000" required="">
                                  </div>
                                </td>
                                <td>
                                  <div class="form-group">
                                    <input type="text" class="form-control" id="" name="" placeholder="1000" required="">
                                  </div>
                                </td>
                                <td>
                                  <div class="form-group">
                                    <input type="text" class="form-control disabled" id="" name="" placeholder="1000" required="">
                                  </div>
                                </td>
                            </tr>
                            <tr>
                              <td>
                                <span>Foligraf 150 iu</span>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="text" class="form-control disabled" id="" name="" placeholder="100" required="">
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="text" class="form-control disabled business-rate" id="" name="" placeholder="1000" required="">
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="text" class="form-control" id="" name="" placeholder="1000" required="">
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="text" class="form-control disabled" id="" name="" placeholder="1000" required="">
                                </div>
                              </td>
                          </tr>
                          <tr>
                            <td>
                              <span>Foligraf 150 iu</span>
                            </td>
                            <td>
                              <div class="form-group">
                                <input type="text" class="form-control disabled" id="" name="" placeholder="100" required="">
                              </div>
                            </td>
                            <td>
                              <div class="form-group">
                                <input type="text" class="form-control disabled business-rate" id="" name="" placeholder="1000" required="">
                              </div>
                            </td>
                            <td>
                              <div class="form-group">
                                <input type="text" class="form-control" id="" name="" placeholder="1000" required="">
                              </div>
                            </td>
                            <td>
                              <div class="form-group">
                                <input type="text" class="form-control disabled" id="" name="" placeholder="1000" required="">
                              </div>
                            </td>
                        </tr>
                        <tr>
                          <td>
                            <span>Foligraf 150 iu</span>
                          </td>
                          <td>
                            <div class="form-group">
                              <input type="text" class="form-control disabled" id="" name="" placeholder="100" required="">
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <input type="text" class="form-control disabled business-rate" id="" name="" placeholder="1000" required="">
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <input type="text" class="form-control" id="" name="" placeholder="1000" required="">
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <input type="text" class="form-control disabled" id="" name="" placeholder="1000" required="">
                            </div>
                          </td>
                      </tr>
                      <tr>
                        <td>
                          <span>Foligraf 150 iu</span>
                        </td>
                        <td>
                          <div class="form-group">
                            <input type="text" class="form-control disabled" id="" name="" placeholder="100" required="">
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <input type="text" class="form-control disabled business-rate" id="" name="" placeholder="1000" required="">
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <input type="text" class="form-control" id="" name="" placeholder="1000" required="">
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <input type="text" class="form-control disabled" id="" name="" placeholder="1000" required="">
                          </div>
                        </td>
                    </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#Humog">Humog</a>
                  </h4>
                </div>
                <div id="Humog" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="form-section"> 
                      <table class="table table-bordered table-bg">
                        <thead>
                          <tr>
                            <th>SKU</th>
                            <th>ASP</th>
                            <th>Rate Contract</th>
                            <th>Unit Sold</th>
                            <th>business</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                  <span>Foligraf 150 iu</span>
                                </td>
                                <td>
                                  <div class="form-group">
                                    <input type="text" class="form-control disabled" id="" name="" placeholder="100" required="">
                                  </div>
                                </td>
                                <td>
                                  <div class="form-group">
                                    <input type="text" class="form-control disabled business-rate" id="" name="" placeholder="1000" required="">
                                  </div>
                                </td>
                                <td>
                                  <div class="form-group">
                                    <input type="text" class="form-control" id="" name="" placeholder="1000" required="">
                                  </div>
                                </td>
                                <td>
                                  <div class="form-group">
                                    <input type="text" class="form-control disabled" id="" name="" placeholder="1000" required="">
                                  </div>
                                </td>
                            </tr>
                            <tr>
                              <td>
                                <span>Foligraf 150 iu</span>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="text" class="form-control disabled" id="" name="" placeholder="100" required="">
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="text" class="form-control disabled business-rate" id="" name="" placeholder="1000" required="">
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="text" class="form-control" id="" name="" placeholder="1000" required="">
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="text" class="form-control disabled" id="" name="" placeholder="1000" required="">
                                </div>
                              </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#Asporelix">Asporelix</a>
                  </h4>
                </div>
                <div id="Asporelix" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="form-section"> 
                      <table class="table table-bordered table-bg">
                        <thead>
                          <tr>
                            <th>SKU</th>
                            <th>ASP</th>
                            <th>Rate Contract</th>
                            <th>Unit Sold</th>
                            <th>business</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                  <span>Foligraf 150 iu</span>
                                </td>
                                <td>
                                  <div class="form-group">
                                    <input type="text" class="form-control disabled" id="" name="" placeholder="100" required="">
                                  </div>
                                </td>
                                <td>
                                  <div class="form-group">
                                    <input type="text" class="form-control disabled business-rate" id="" name="" placeholder="1000" required="">
                                  </div>
                                </td>
                                <td>
                                  <div class="form-group">
                                    <input type="text" class="form-control" id="" name="" placeholder="1000" required="">
                                  </div>
                                </td>
                                <td>
                                  <div class="form-group">
                                    <input type="text" class="form-control disabled" id="" name="" placeholder="1000" required="">
                                  </div>
                                </td>
                            </tr>
                            <tr>
                              <td>
                                <span>Foligraf 150 iu</span>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="text" class="form-control disabled" id="" name="" placeholder="100" required="">
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="text" class="form-control disabled business-rate" id="" name="" placeholder="1000" required="">
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="text" class="form-control" id="" name="" placeholder="1000" required="">
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="text" class="form-control disabled" id="" name="" placeholder="1000" required="">
                                </div>
                              </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#RHucog">R Hucog</a>
                  </h4>
                </div>
                <div id="RHucog" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="form-section"> 
                      <table class="table table-bordered table-bg">
                        <thead>
                          <tr>
                            <th>SKU</th>
                            <th>ASP</th>
                            <th>Rate Contract</th>
                            <th>Unit Sold</th>
                            <th>business</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                  <span>Foligraf 150 iu</span>
                                </td>
                                <td>
                                  <div class="form-group">
                                    <input type="text" class="form-control disabled" id="" name="" placeholder="100" required="">
                                  </div>
                                </td>
                                <td>
                                  <div class="form-group">
                                    <input type="text" class="form-control disabled business-rate" id="" name="" placeholder="1000" required="">
                                  </div>
                                </td>
                                <td>
                                  <div class="form-group">
                                    <input type="text" class="form-control" id="" name="" placeholder="1000" required="">
                                  </div>
                                </td>
                                <td>
                                  <div class="form-group">
                                    <input type="text" class="form-control disabled" id="" name="" placeholder="1000" required="">
                                  </div>
                                </td>
                            </tr>
                            <tr>
                              <td>
                                <span>Foligraf 150 iu</span>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="text" class="form-control disabled" id="" name="" placeholder="100" required="">
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="text" class="form-control disabled business-rate" id="" name="" placeholder="1000" required="">
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="text" class="form-control" id="" name="" placeholder="1000" required="">
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="text" class="form-control disabled" id="" name="" placeholder="1000" required="">
                                </div>
                              </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="checkbox-date-wrapper">
                <div class="checkbox">
                  <label><input type="checkbox" id="rateApplicable" value="" onclick="setRate()">Rate Contract Applicable Till</label>
                </div>
              
                <div class="form-group">
                  <input type="date" class="form-control" id="" name="" />
                </div>
              </div>

              <div class="total-business-value">
                <b>Total Business Value</b> 
                <br />
                <span>10000</span>
              </div>

              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="two-btn-wrapper">
                    <button type="reset" class="btn btn-default btn-grad">Reset</button>
                    <button type="submit" class="btn btn-default btn-grad" onclick="validateMe();return false;">Save</button>
                  </div>
                </div>
              </div>

            </div>

          </form>
         </div>
      </main>

      <script src="../../js/common.js"></script>
      <script src="../../js/jquery.min.js"></script>
      <script src="../../js/axios.min.js"></script>
      <script src="../../js/bootstrap.min.js"></script>
      <script src="../../js/admin.js"></script>
      <script src="../../js/business.js"></script>

</body>
</html>