<html>
    <head>
        <title>IVF : Add Sku </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/app.css" />
    </head>
<body>
    
  <nav class="navbar" id="header"></nav>

      <main class="container">
         <h1 class="text-center">Add Sku</h1>
         <div class="text-right"><a href="./sku" class="btn btn-success">Go Back</a></div>
         <div class="form-wrapper">
          <form>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <select class="form-control" id="brandCombo">
                    <option>Brand</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div> 
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <select class="form-control" id="brandGroupsCombo">
                    <option>Brand Group</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div> 
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <input type="text" class="form-control" id="skuNameTxt" name="drCoreTxt" placeholder="Sku Name" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <input type="text" class="form-control" id="priceTxt" name="priceTxt" placeholder="Price" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="two-btn-wrapper">
                  <button type="reset" class="btn btn-default btn-grad">Reset</button>
                  <button type="submit" class="btn btn-default btn-grad">Save</button>
                </div>
              </div>
            </div>
          </form>
         </div>
      </main>

      <script src="../../js/jquery.min.js"></script>
      <script src="../../js/common.js"></script>
        <script src="../../js/axios.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script src="../../js/admin.js"></script>

</body>
</html>