<html>
    <head>
        <title>IVF : Sku List </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/app.css" />
    </head>
<body>
    
  <nav class="navbar" id="header"></nav>

      <main class="container">
         <h1 class="text-center">Sku List</h1>
         <div class="text-right"><a href="./add-sku" class="btn btn-success">New Sku</a></div>
         <table class="table table-bordered table-bg">
            <thead>
              <tr>
                <th>Brands</th>
                <th>Brand Groups</th>
                <th>Sku's</th>
                <th>Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
              </tr>
              <tr>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
              </tr>
              <tr>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
              </tr>
              <tr>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
              </tr>
              <tr>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
              </tr>
              <tr>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
              </tr>
            </tbody>
          </table>
      </main>

      <script src="../../js/jquery.min.js"></script>
      <script src="../../js/common.js"></script>
        <script src="../../js/axios.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script src="../../js/admin.js"></script>

</body>
</html>